<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad1"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp1"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow1"></a><a id="desc1"></a> </p>
                </div>
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad2"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp2"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow2"></a><a id="desc2"></a> </p>
                </div>
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad3"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp3"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow3"></a><a id="desc3"></a> </p>
                </div>
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad4"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp4"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow4"></a><a id="desc4"></a> </p>
                </div>
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad5"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp5"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow5"></a><a id="desc5"></a> </p>
                </div>
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4" style="padding:10px;">
        <!-- Card -->
        <div class="card weather-card" style="border:2px solid yellowgreen">

            <!-- Card content -->
            <div class="card-body pb-3 ">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" id="ad7"></h4>
                <!-- Text -->
                <p class="card-text">Turkmenistan</p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree gradus"><span id="temp6"></span><span>&#176 C</span></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><a class="text-info pr-2" id="imgshow6"></a><a id="desc6"></a> </p>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
</div>
<style>
    h4 {
        font-size:18px;
    }
    card-text{
        padding-top:8px;
        padding-bottom:8px;
        padding-right:0;
        padding-left:0;

    }
    .gradus{
       font-weight:bold;
       font-size:18px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("https://api.openweathermap.org/data/2.5/weather?id=162183&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad1").text(response.name);
            $("#temp1").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png">'
            $("#desc1").text(response.weather[0].description);
            $("#imgshow1").html(img);
        });
        $.get("https://api.openweathermap.org/data/2.5/weather?id=162181&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad2").text(response.name);
            $("#temp2").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"></p>'
            $("#desc2").text(response.weather[0].description);
            $("#imgshow2").html(img);

        });
        $.get("https://api.openweathermap.org/data/2.5/weather?id=162152&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad3").text(response.name);
            $("#temp3").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"></p>'
            $("#desc3").text(response.weather[0].description);
            $("#imgshow3").html(img);

        });
        $.get("https://api.openweathermap.org/data/2.5/weather?id=601465&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad4").text(response.name);
            $("#temp4").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"></p>'
            $("#desc4").text(response.weather[0].description);
            //$("#img").icon('"https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"');
            $("#imgshow4").html(img);
        });
        $.get("https://api.openweathermap.org/data/2.5/weather?id=1219651&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad5").text(response.name);
            $("#temp5").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"></p>'
            $("#desc5").text(response.weather[0].description);
            $("#imgshow5").html(img);
        });
        $.get("https://api.openweathermap.org/data/2.5/weather?id=1218666&APPID=520174c4e5f30171daadc888240c1a7e&units=metric", function (response) {
            $("#ad7").text(response.name);
            $("#temp6").text(response.main.temp);
            var img = '';
            img += '<p>' + '<img src="https://openweathermap.org/img/w/' + response.weather[0].icon + '.png"></p>'
            $("#desc6").text(response.weather[0].description);
            $("#imgshow6").html(img);
        });
    });
</script>

