@model IEnumerable<TmBugun.Models.Haber>


<div class="row">
    <div class="col-12" style="padding:5px;">
        @foreach (var item in Model)
        {
            @Html.Raw("<img style='width:100%; height:55%;' src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(item.HaberResim) + "\" />")
            <div class="card ">
                <div class="text-white text-md-left d-flex align-items-start " style="padding:15px;padding-top:10%">
                    <div>
                        <h3 class="card-title pt-2" style="font-size:16px;color:black">
                            <a href="/Haberlers/HaberDetay/@item.Id" style="color:black"> <strong>@Html.Raw(item.HaberBaslik.ToString().Substring(0, (item.HaberBaslik.Length > 100) ? 100 : item.HaberBaslik.Length))</strong></a>
                        </h3>
                        <h6 class="text-black" style="color:black">
                            | @Html.Raw(item.HaberKategorileri.HaberKategori)
                        </h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
