@model IEnumerable<TmBugun.Models.Videolar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yazar/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">video_library</i>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h4 class="card-title left">Videolar</h4>
                </div>
                <a class="col-md-3 col-sm-3 btn btn-success ml-auto" href="~/Yazar/Videolars/Create">Video Ekle</a>
            </div>
        </div>
    </div>

    <div id="dvVideoListesi">
        @Html.Partial("~/Areas/Yazar/Views/Videolars/VideoListesi.cshtml", Model)
    </div>
    